In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13class.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# Create

In [28]:
shop = Shop()   # FirstShop (o), first_shop (x) class명은 첫글자가 대문자
shop.name = "투썸플레이스"
shop.telephon = "042-1234-1234"

In [29]:
shop.save()

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:12:03.922330', '2021-12-01 06:12:03.922330'); args=['투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:12:03.922330', '2021-12-01 06:12:03.922330']

In [30]:
shop = Shop.objects.create(
    name="셀프 24시 빨래방",
    telephon="042-1234-4321",
)

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('셀프 24시 빨래방', '', '042-1234-4321', '', '2021-12-01 06:12:13.502847', '2021-12-01 06:12:13.502847'); args=['셀프 24시 빨래방', '', '042-1234-4321', '', '2021-12-01 06:12:13.502847', '2021-12-01 06:12:13.502847']

# Select

In [4]:
qs = Shop.objects.all()

In [5]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephon)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

7 셀프 24시 빨래방 042-1234-4321
6 투썸플레이스 042-1234-1234

In [35]:
qs.order_by("-id") # "created_at")   # 정렬은 가급적 단일 컬럼 쓰기.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC, "mall_shop"."created_at" ASC LIMIT 21; args=()

# 데이터 뻥튀기

In [7]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephon = f"042-1234-9{i:03}" # 3칸을 비운뒤 우측 정렬(  1)을 하고 빈자리를 0으로 채움
    Shop.objects.create(
        name=name,
        telephon = telephon
    )

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:40.700894', '2021-12-01 06:45:40.700894'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:40.700894', '2021-12-01 06:45:40.700894']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:40.741230', '2021-12-01 06:45:40.741230'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:40.741230', '2021-12-01 06:45:40.741230']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:40.748212', '2021-12-01 06:45:40.748212'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:40.748212', '2021-12-01 06:45:40.748212']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:40.755197', '2021-12-01 06:45:40.755197'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:40.755197', '2021-12-01 06:45:40.755197']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:40.765167', '2021-12-01 06:45:40.765167'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:40.765167', '2021-12-01 06:45:40.765167']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:40.773146', '2021-12-01 06:45:40.773146'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:40.773146', '2021-12-01 06:45:40.773146']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:40.780130', '2021-12-01 06:45:40.780130'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:40.780130', '2021-12-01 06:45:40.780130']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:40.787118', '2021-12-01 06:45:40.787118'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:40.787118', '2021-12-01 06:45:40.787118']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:40.793128', '2021-12-01 06:45:40.793128'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:40.793128', '2021-12-01 06:45:40.793128']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:40.800124', '2021-12-01 06:45:40.800124'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:40.800124', '2021-12-01 06:45:40.800124']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:40.807094', '2021-12-01 06:45:40.807094'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:40.807094', '2021-12-01 06:45:40.807094']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:40.815077', '2021-12-01 06:45:40.815077'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:40.815077', '2021-12-01 06:45:40.815077']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:40.823053', '2021-12-01 06:45:40.824050'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:40.823053', '2021-12-01 06:45:40.824050']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:40.832029', '2021-12-01 06:45:40.832029'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:40.832029', '2021-12-01 06:45:40.832029']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:40.840006', '2021-12-01 06:45:40.840006'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:40.840006', '2021-12-01 06:45:40.840006']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:40.847984', '2021-12-01 06:45:40.847984'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:40.847984', '2021-12-01 06:45:40.847984']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:40.855966', '2021-12-01 06:45:40.855966'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:40.855966', '2021-12-01 06:45:40.855966']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:40.869995', '2021-12-01 06:45:40.869995'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:40.869995', '2021-12-01 06:45:40.869995']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:40.876093', '2021-12-01 06:45:40.876093'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:40.876093', '2021-12-01 06:45:40.876093']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:40.883075', '2021-12-01 06:45:40.883075'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:40.883075', '2021-12-01 06:45:40.883075']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:40.890054', '2021-12-01 06:45:40.890054'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:40.890054', '2021-12-01 06:45:40.890054']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:40.900029', '2021-12-01 06:45:40.900029'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:40.900029', '2021-12-01 06:45:40.900029']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:40.908008', '2021-12-01 06:45:40.908008'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:40.908008', '2021-12-01 06:45:40.908008']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:40.914989', '2021-12-01 06:45:40.914989'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:40.914989', '2021-12-01 06:45:40.914989']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:40.922019', '2021-12-01 06:45:40.922019'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:40.922019', '2021-12-01 06:45:40.922019']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:40.932977', '2021-12-01 06:45:40.932977'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:40.932977', '2021-12-01 06:45:40.932977']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:40.939959', '2021-12-01 06:45:40.939959'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:40.939959', '2021-12-01 06:45:40.939959']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:40.959419', '2021-12-01 06:45:40.959419'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:40.959419', '2021-12-01 06:45:40.959419']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:40.966404', '2021-12-01 06:45:40.966404'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:40.966404', '2021-12-01 06:45:40.966404']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:40.974345', '2021-12-01 06:45:40.974345'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:40.974345', '2021-12-01 06:45:40.974345']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:40.982329', '2021-12-01 06:45:40.982329'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:40.982329', '2021-12-01 06:45:40.982329']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:40.989310', '2021-12-01 06:45:40.989310'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:40.989310', '2021-12-01 06:45:40.989310']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:40.996344', '2021-12-01 06:45:40.996344'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:40.996344', '2021-12-01 06:45:40.996344']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:41.004580', '2021-12-01 06:45:41.004580'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:41.004580', '2021-12-01 06:45:41.004580']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:41.010562', '2021-12-01 06:45:41.010562'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:41.010562', '2021-12-01 06:45:41.010562']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:41.017556', '2021-12-01 06:45:41.017556'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:41.017556', '2021-12-01 06:45:41.017556']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:41.024527', '2021-12-01 06:45:41.024527'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:41.024527', '2021-12-01 06:45:41.024527']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:41.030509', '2021-12-01 06:45:41.030509'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:41.030509', '2021-12-01 06:45:41.030509']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:41.037490', '2021-12-01 06:45:41.037490'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:41.037490', '2021-12-01 06:45:41.037490']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:41.045469', '2021-12-01 06:45:41.045469'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:41.045469', '2021-12-01 06:45:41.045469']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:41.052466', '2021-12-01 06:45:41.052466'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:41.052466', '2021-12-01 06:45:41.052466']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:41.060429', '2021-12-01 06:45:41.060429'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:41.060429', '2021-12-01 06:45:41.060429']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:41.067409', '2021-12-01 06:45:41.067409'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:41.067409', '2021-12-01 06:45:41.067409']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:41.074144', '2021-12-01 06:45:41.074144'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:41.074144', '2021-12-01 06:45:41.074144']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:41.082122', '2021-12-01 06:45:41.082122'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:41.082122', '2021-12-01 06:45:41.082122']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:41.088745', '2021-12-01 06:45:41.088745'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:41.088745', '2021-12-01 06:45:41.088745']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:41.094729', '2021-12-01 06:45:41.094729'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:41.094729', '2021-12-01 06:45:41.094729']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:41.102707', '2021-12-01 06:45:41.102707'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:41.102707', '2021-12-01 06:45:41.102707']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:41.108691', '2021-12-01 06:45:41.108691'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:41.108691', '2021-12-01 06:45:41.108691']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:41.123566', '2021-12-01 06:45:41.123566'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:41.123566', '2021-12-01 06:45:41.123566']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:41.141664', '2021-12-01 06:45:41.141664'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:41.141664', '2021-12-01 06:45:41.141664']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:41.155513', '2021-12-01 06:45:41.155513'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:41.155513', '2021-12-01 06:45:41.155513']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:41.163492', '2021-12-01 06:45:41.163492'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:41.163492', '2021-12-01 06:45:41.163492']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:41.169477', '2021-12-01 06:45:41.169477'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:41.169477', '2021-12-01 06:45:41.169477']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:41.175460', '2021-12-01 06:45:41.175460'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:41.175460', '2021-12-01 06:45:41.175460']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:41.182443', '2021-12-01 06:45:41.182443'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:41.182443', '2021-12-01 06:45:41.182443']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:41.190420', '2021-12-01 06:45:41.190420'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:41.190420', '2021-12-01 06:45:41.190420']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:41.199396', '2021-12-01 06:45:41.199396'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:41.199396', '2021-12-01 06:45:41.199396']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:41.205380', '2021-12-01 06:45:41.205380'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:41.205380', '2021-12-01 06:45:41.205380']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:41.214398', '2021-12-01 06:45:41.214398'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:41.214398', '2021-12-01 06:45:41.214398']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:41.220380', '2021-12-01 06:45:41.220380'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:41.220380', '2021-12-01 06:45:41.220380']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:41.226384', '2021-12-01 06:45:41.226384'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:41.226384', '2021-12-01 06:45:41.226384']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:41.233369', '2021-12-01 06:45:41.233369'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:41.233369', '2021-12-01 06:45:41.233369']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:41.239661', '2021-12-01 06:45:41.239661'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:41.239661', '2021-12-01 06:45:41.239661']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:41.247643', '2021-12-01 06:45:41.247643'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:41.247643', '2021-12-01 06:45:41.247643']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:41.254412', '2021-12-01 06:45:41.254412'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:41.254412', '2021-12-01 06:45:41.254412']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:41.264642', '2021-12-01 06:45:41.264642'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:41.264642', '2021-12-01 06:45:41.264642']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:41.270624', '2021-12-01 06:45:41.270624'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:41.270624', '2021-12-01 06:45:41.270624']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:41.276429', '2021-12-01 06:45:41.276429'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:41.276429', '2021-12-01 06:45:41.276429']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:41.288439', '2021-12-01 06:45:41.288439'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:41.288439', '2021-12-01 06:45:41.288439']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:41.295313', '2021-12-01 06:45:41.295313'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:41.295313', '2021-12-01 06:45:41.295313']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:41.302898', '2021-12-01 06:45:41.302898'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:41.302898', '2021-12-01 06:45:41.302898']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:41.309259', '2021-12-01 06:45:41.309259'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:41.309259', '2021-12-01 06:45:41.309259']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:41.315243', '2021-12-01 06:45:41.315243'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:41.315243', '2021-12-01 06:45:41.315243']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:41.325031', '2021-12-01 06:45:41.325031'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:41.325031', '2021-12-01 06:45:41.325031']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:41.332012', '2021-12-01 06:45:41.332012'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:41.332012', '2021-12-01 06:45:41.332012']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:41.337995', '2021-12-01 06:45:41.337995'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:41.337995', '2021-12-01 06:45:41.337995']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:41.351278', '2021-12-01 06:45:41.351278'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:41.351278', '2021-12-01 06:45:41.351278']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:41.357321', '2021-12-01 06:45:41.357321'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:41.357321', '2021-12-01 06:45:41.357321']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:41.363304', '2021-12-01 06:45:41.363304'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:41.363304', '2021-12-01 06:45:41.363304']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:41.377308', '2021-12-01 06:45:41.377308'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:41.377308', '2021-12-01 06:45:41.377308']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:41.392675', '2021-12-01 06:45:41.392675'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:41.392675', '2021-12-01 06:45:41.392675']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:41.399654', '2021-12-01 06:45:41.399654'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:41.399654', '2021-12-01 06:45:41.399654']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:41.405637', '2021-12-01 06:45:41.405637'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:41.405637', '2021-12-01 06:45:41.405637']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:41.413667', '2021-12-01 06:45:41.413667'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:41.413667', '2021-12-01 06:45:41.413667']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:41.420640', '2021-12-01 06:45:41.420640'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:41.420640', '2021-12-01 06:45:41.420640']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:41.426624', '2021-12-01 06:45:41.426624'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:41.426624', '2021-12-01 06:45:41.426624']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:41.433287', '2021-12-01 06:45:41.433287'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:41.433287', '2021-12-01 06:45:41.433287']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:41.439473', '2021-12-01 06:45:41.439473'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:41.439473', '2021-12-01 06:45:41.439473']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:41.446454', '2021-12-01 06:45:41.446454'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:41.446454', '2021-12-01 06:45:41.446454']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:41.457437', '2021-12-01 06:45:41.457437'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:41.457437', '2021-12-01 06:45:41.457437']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:41.465404', '2021-12-01 06:45:41.465404'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:41.465404', '2021-12-01 06:45:41.465404']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:41.471388', '2021-12-01 06:45:41.471388'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:41.471388', '2021-12-01 06:45:41.471388']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:41.477371', '2021-12-01 06:45:41.477371'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:41.477371', '2021-12-01 06:45:41.477371']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:41.484370', '2021-12-01 06:45:41.484370'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:41.484370', '2021-12-01 06:45:41.484370']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:41.490390', '2021-12-01 06:45:41.490390'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:41.490390', '2021-12-01 06:45:41.490390']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:41.496376', '2021-12-01 06:45:41.496376'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:41.496376', '2021-12-01 06:45:41.496376']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:41.502786', '2021-12-01 06:45:41.502786'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:41.502786', '2021-12-01 06:45:41.502786']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:41.508770', '2021-12-01 06:45:41.508770'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:41.508770', '2021-12-01 06:45:41.508770']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephon", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:41.515752', '2021-12-01 06:45:41.515752'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:41.515752', '2021-12-01 06:45:41.515752']

# Slicing

In [12]:
qs = Shop.objects.all()

In [13]:
qs[:10] # first 10 row

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (107)>, <Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>]>

In [14]:
qs[0:10:2]   # 10개를 가져오고 2개씩 건너뛰면서 5개를 가져 옴.  why: db에서는 step기능이 없음.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (107)>,
 <Shop: Shop object (105)>,
 <Shop: Shop object (103)>,
 <Shop: Shop object (101)>,
 <Shop: Shop object (99)>]

In [15]:
qs[-10:]  #last 10 row  => Not supported in DB   -> python 문법

AssertionError: Negative indexing is not supported.

In [17]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephon)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

15 가게명#8 042-1234-9008
14 가게명#7 042-1234-9007
13 가게명#6 042-1234-9006
12 가게명#5 042-1234-9005
11 가게명#4 042-1234-9004
10 가게명#3 042-1234-9003
9 가게명#2 042-1234-9002
8 가게명#1 042-1234-9001
7 셀프 24시 빨래방 042-1234-4321
6 투썸플레이스 042-1234-1234

# Conditions

In [18]:
qs = Shop.objects.all()

In [19]:
# filter <-> exclude
qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [20]:
qs.exclude(pk=1)   # pk가 1이 아닌 것들

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (107)>, <Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, '...(remaining elements truncated)...']>

In [22]:
# lt : less than             <
# lte : less than equal      <=
# gt : greater than          >
# gte : greater than equal  >=


qs.filter(
    pk__gte=5,
    pk__lt=10, # less than : 10 보다 작다
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [23]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [25]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [ ]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [26]:
# QuerySet is Lazy.

In [28]:
qs = Shop.objects.all()

In [29]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (107)>, <Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, '...(remaining elements truncated)...']>

In [30]:
qs = Shop.objects.all()
shop_list = list(qs)    # list(qs) -> 메모리에 데이터를 올리겠다.     되도록 쓰지 않는게 좋음.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

# Get1 Row

In [35]:
pk = 10
not_existed_pk = 100000

In [36]:
shop = Shop.objects.get(pk=pk)   # 가져올 대상이 1개임을 기대, 1개가 아니면 예외가 발생
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [38]:
Shop.objects.all(pk=not_existed_pk)   #Shop.DeosNotExist 예외가 발생

TypeError: BaseManager.all() got an unexpected keyword argument 'pk'

In [40]:
shop = Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [39]:
Shop.objects.filter(pk=not_existed_pk)[0]    # IndexError 예외가 발생, 잘 사용하지 않음.          # 가져오는 방법에 따라 예외가 다름.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [41]:
Shop.objects.filter(pk=not_existed_pk).first()    # 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생 X

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Comditions (OR)

In [43]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10)  #AND       # (pk__gte=5, pk__lt=10)  -> 조건(conditions)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [44]:
from django.db.models import Q

In [45]:
Q(pk__gte=5)

In [48]:
Q(pk__gte=10)

In [49]:
Q(pk__gte=5)&Q(pk__gte=10)

In [50]:
Q(pk__gte=5)|Q(pk__gte=10)

In [51]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5)|Q(pk__gte=10)
)

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" >= 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (107)>, <Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, '...(remaining elements truncated)...']>

In [74]:
conditions = Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)

conditions

# Update Rows

## 지정 Row

In [63]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [67]:
shop.name, shop.telephon

('가게명#3', '042-1234-0003')

In [65]:
shop.telephon = '042-1234-0003'

In [66]:
shop.save()

(0.015) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = '', "telephon" = '042-1234-0003', "photo" = '', "created_at" = '2021-12-01 06:45:40.748212', "updated_at" = '2021-12-01 07:39:24.888943' WHERE "mall_shop"."id" = 10; args=('가게명#3', '', '042-1234-0003', '', '2021-12-01 06:45:40.748212', '2021-12-01 07:39:24.888943', 10)

## 지정 범위의 Rows    1번 방식이 더 효율적!

In [71]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description = "not used description"
)

(0.016) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

5

In [72]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephon", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephon" = '042-1234-0003', "photo" = '', "created_at" = '2021-12-01 06:45:40.748212', "updated_at" = '2021-12-01 07:42:22.079372' WHERE "mall_shop"."id" = 10; args=('가게명#3', 'not used description', '042-1234-0003', '', '2021-12-01 06:45:40.748212', '2021-12-01 07:42:22.079372', 10)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephon" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:40.741230', "updated_at" = '2021-12-01 07:42:22.096491' WHERE "mall_shop"."id" = 9; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:45:40.741230', '2021-12-01 07:42:22.096491', 9)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephon" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:40.700894', "updated_at" = '2021-12-01 07:42:22.109483' WHERE "mall_shop"."id" = 8; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:45:40.700894', '2021-12-01 07:42:22.109483', 8)
(0.000) UPDATE "mall_shop" SET "name" = '셀프 24시 빨래방', "description" = 'not used description', "telephon" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:12:13.502847', "updated_at" = '2021-12-01 07:42:22.117435' WHERE "mall_shop"."id" = 7; args=('셀프 24시 빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:12:13.502847', '2021-12-01 07:42:22.117435', 7)
(0.016) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephon" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:12:03.922330', "updated_at" = '2021-12-01 07:42:22.128406' WHERE "mall_shop"."id" = 6; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:12:03.922330', '2021-12-01 07:42:22.128406', 6)

# Delet Rows

In [22]:
# qs = Shop.objects.all()

In [27]:
# qs.delete()

(0.000) BEGIN; args=None
(0.000) DELETE FROM "mall_shop"; args=()

(1, {'mall.Shop': 1})